*{
    margin: 0;
}

p {
    text-align: center;
    line-height: 100vh;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vh;
    text-decoration: underline;
    letter-spacing: 12px;
} 
